#main-header {
	background: linear-gradient(0deg, rgba(103, 80, 164, 0.08), rgba(103, 80, 164, 0.08)), #FFFBFE;
	height: 70px;
	z-index: 10;
}

#content-header {
	max-width: 900px;
	z-index: 11;

	height: 100%;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
}

#content-header>svg {
	color: var(--main-title);
	cursor: pointer;
}

#content-header>h1 {
	color: var(--main-title);
	font-size: 1.6rem;
	letter-spacing: 0.01rem;
}

@media (min-width: 768px) {
	#content-header {
		padding: 0;
	}
}
